@media (max-width: 576px) {
  .home-section {
      padding-top: 2rem;
  }
  .responsive-nav {
    display: flex;
  }
  .default-nav {
    display: none;
  }

  .nav-container ul li a {
    padding: 1rem 1.2rem;
  }
  .default-cutout {
    display: none;
  }
  .home-section .card {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  img.responsive-img {
    height: 80%;
  }
  .responsive-cutout {
    display: block;
    height: 100%; 
  }
  .text-content {
    text-align: center;
  }
  #header {
    font-size: 1.5rem;
  }
  .blinking-cursor {
    font-size: 2rem;
  }
  .message {
    line-height: 1.2rem;
    font-size: 0.8rem;
    padding: 0 15px;
  }

  .about-section .card {
    flex-direction: column;
    height: 95vh;
  }
  .vector-img-container img {
    margin-top: 8%;
    width: 100%;
  }

  .about-me-message {
    width: auto;
    padding: 1.5rem;
    border: none;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  #tech-stack-title {
    width: 100%;
    margin: 6rem 0 2rem 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .icon-container {
    height: 400px;
    overflow-y: scroll;
  }
  .tech-card {
    width: 100%;
  }
  .progress-bar-label {
    width: 100%;
    font-size: 10px;
  }

  .bar {
    width: 100%;
  }
  .progress-bar {
    width: 100%;
  }
  .projects-header {
    width: 100%;
    margin: 6rem 0 1.5rem 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .projects-container {
    width: 100%;
    height: 400px;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    justify-content: flex-start;
    gap: 1rem;
  }
  .projects-container a {
    width: 90%;
  }
  .project-card {
    width: 100%;
    margin: 0px;
  }
  .project-footer {
    margin-top: 0.7rem;
  }

  .contact-container {
    flex-direction: column;
    gap: 0;
  }
  .contact-container .square-pic {
    margin-top: 2rem;
    width: 90%;
    height: 100%;
    background-position: 20% 30%;
  }
  .contact-header {
    font-size: 1.5rem;
  }
  .contact-info {
    font-size: 0.8rem;
    height: auto;
  }
  .contact-info img.tech-icon {
    width: 25px;
    height: 25px;
  }
  
}
