/* X-Small */
/* No specific class needed as it's the default styling */
@media (max-width: 576px) {
    /* Add your styles for X-Small screens here */
    .responsive-nav {
        display: flex;
    }
    .default-nav {
        display: none;
    }

    .nav-container ul li a {
        padding: 1rem 1.2rem;
    }
  }